*.venv
dev*
.env
Journal Information.md
.gitignore
*.html
UrbanScience.md

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

.antigravitycli

# Data and figures
*.csv
*.png
/.quarto/
**/*.quarto_ipynb
